:root {
  --tertiary-color: #E8B26A;
  --light-primary-color: #293C6C;
  --primary-color: #2751A0;
  --secondary-color: #9090CF;  
  --dark-primary-color: #2B2F4B;
}



/* Set the default font for the entire page */
html, body {
  font-family: neue-haas-grotesk-display,sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--secondary-color);
  color: #fff;
}

/* Set the font for all heading elements */
h1, h2, h3, h4, h5, h6 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.container{
  display: flex;
  flex-direction: column;
}

#logo {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.logo {
  padding-left: 5px;
  width: 50px;
}

.top-bar {
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.dropdown-menu {
  position: absolute;
  z-index: 999;
  background-color: #ccc;
}

.search-site {
  margin: 0 auto;
  text-align: center;
  min-width: 300px;
  max-width: 500px;
  padding: 25px;
  border-radius: 0.75em;
  background-color: var(--primary-color);
}

.container {
  width: minmax(200px, 800px);
  margin: 0 auto;
  padding: 1rem;
  justify-items: center;
}

.main-weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  
}

.dateinfo {
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: var(--primary-color);
}

.moreinfo {
  display: flex;
  justify-content: center;
  background-color: var(--dark-primary-color);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.condition {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  margin: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 25ch;
  padding: 1rem;
}

.misc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.25rem;
  justify-content: center;
}

.sunrise {
  border-radius: 0.25rem;
  background-color: var(--primary-color);
  margin: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.moreweather {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  margin: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 25ch;
}

.info-table, .sunrise-table {
  border-collapse: collapse; /* collapse the borders between table cells */
  width: 100%; /* make the table fill the width of its container */
}

.info-table td, .sunrise-table td {
  padding: 8px; /* add some padding to the table cells */
  text-align: left; /* align the text to the left */
}

.info-table tr:nth-child(even), .sunrise-table tr:nth-child(even) {
  background-color: var(--light-primary-color); /* add a light grey background color to every even row */
}

.info-table tr:hover, .sunrise-table tr:hover {
  background-color: var(--tertiary-color); /* add a light grey background color to the rows when the mouse is hovering over them */
}

.info-table td:nth-child(2), .sunrise-table td:nth-child(2) {
  font-weight: 700;
}

.wind {
  position: relative;
  text-align: center;
  display: table;
  margin: 0.25rem;
  padding: 1rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  min-width: 25ch;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.temperature {
  font-size: 2.5rem;
  font-weight: 700;
}



#compass {
  max-height: 100%;
  width: minmax(50px, 250px);
  height: 100%;

}

#bearing {
  font-size: 0.8rem;
  margin: 1rem;
}

.forecast-container {
  display: grid;
  align-items: baseline;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background-color: var(--dark-primary-color);
  padding: 1rem;
  border-radius: 0.5rem;
}

.forecast canvas {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.forecast-temp {
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
}
.forecast img {
  display: block;
  margin: 0 auto;
  position: absolute;
}

.forecast .temperature {

  margin: auto;
  z-index: 99;
  position: absolute;
  vertical-align: middle;
  margin-top: 20px;
  margin-left: -20px;
  color: #fff;
  text-shadow: 2px 2px #000;
}

.forecast {
  margin: 1rem;
  background-color: var(--primary-color);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
}

.forecast table {
  width: 100%;
  border-collapse: collapse;
}

.forecast th,
.forecast td {
  padding: 0.5rem;
  text-align: left;
}

.forecast th {
  font-weight: bold;

}

.forecast tr:nth-child(even){
  background-color: var(--light-primary-color);
}

.forecast td {
  font-size: 0.9rem;
  line-height: 1.5;

}

.forecast .forecast-head {
  text-align: center;
}

.forecast td:first-child {
  width: 35%;
}

.hidden {
  display: none;
}

.collapse-button {
  /* Add some basic styling to the button */
  width: 100%; /* Stretch the button to the full width of the container */
  padding: 0.5em 1em;
  border: none;
  border-radius: 0; /* Remove the rounded corners */
  background-color: var(--tertiary-color);
  color: #fff;
  font-size: 1em;
  cursor: pointer;

  /* Add some hover and active styles */
  transition: background-color 0.3s;
  
}

.collapse-button:hover {
  background-color: var(--tertiary-color);
}
.collapse-button:active {
  background-color: var(--tertiary-color);
}

.hourly-header {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}

.hourly-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background-color: var(--dark-primary-color);
  padding: 1rem;
  border-radius: 0.5rem;
}

.forecast-day {
  border-radius: 0.75em;
  min-width: 200px;
  padding: 1rem;
  background-color: var(--primary-color);
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.forecast-day .hourtempbox .temperature {
  margin-bottom: -2em;
  z-index: 1;
  color: #fff;
  text-shadow: 2px 2px #000;

}



.hourtempbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.hourly-table {
  border-collapse: collapse; /* merge adjacent border cells */
  width: 100%; /* fill the available width */
  font-size: 0.8em; /* set the font size for the table */
}

.hourly-table td, .hourly-table th {
  padding: 1em; /* add some padding to the cells */
}

.hourly-table tr:nth-child(even) {
  background-color: var(--light-primary-color); /* add a background color to every other row */
}

.hourly-table tr:hover {
  background-color: var(--tertiary-color) /* add a hover effect to the rows */
}

.hourly-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--tertiary-color);
  color: white;
}

.hourly-table td[colspan="2"] {
  text-align: center; /* center the cell that spans two columns */
}

.hourly-table td:nth-child(2) {
  font-weight: 700; /* make the first column 700 */
}

/* .hourly-condition {
  margin-bottom: 0;
} */

.almanac {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background-color: var(--primary-color);
  margin: 2rem;
}

.almanac-table {
  margin: 0 auto;
}

.almanac-table tbody tr:nth-child(even) {
  background-color: var(--light-primary-color); /* add a background color to every other row */
}

.almanac-table tbody tr:hover {
  background-color: var(--tertiary-color); /* add a hover effect to the rows */
}

.almanac-table td[colspan="3"] {
  text-align: center; /* center the cell that spans three columns */
}

.almanac-table td:first-child {
  font-weight: 700; /* make the first column 700 */
}

.almanac-table td:last-child {
  text-align: right; /* right align the last column */
}

/* SEARCH AND INDEX CSS */
#townsearch-input {
  /* add some styles to the input element */
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

#townselect {
  /* add some styles to the button element */
  width: 100px;
  background-color: var(--tertiary-color);
  color: white;
  font-family: neue-haas-grotesk-display,sans-serif;
  font-weight: 700;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* add some styles to the flashes element */
.flashes {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flashes li {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  margin-bottom: 8px;
  border-radius: 4px;
  text-align: center;
}






@media only screen and (max-width: 800px) {
  .forecast-container{
    grid-template-columns: 1fr;
  }
  .container {
    width: 95%;
  }

  .moreinfo {
    flex-direction: column;
  }

  .weatherinfo {
    margin-right: 0;
  }

  .moreweather {
    padding-left: 0;
    margin-top: 1rem;
    align-self: center;
  }

  .forecast-day {
    width: 40%;
    min-width: 200px;
  }

  #compass {
    max-width: 50%;
  }
}

/* @media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
} */

