{% extends "layout.html" %}



{% block title %}Chrisweather{% endblock %}



{% block content %}
<div class="container">
    Chrisweather
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="search-site">
        <form action="/weather" method="get">
            <input type="text" list="sitelist" name="townsearch" id="townsearch-input">
            <datalist id="sitelist">
                {% for town in townresults %}
                <option value="{{ town }}">
                    {% endfor %}
            </datalist>
            <button type="submit">Get Town</button>
        </form>
    </div>
</div>
<script>//prevent button from being pressed if user inputs town not in townresults
    document.querySelector('button').addEventListener('click', function (e) {
        var townsearch = document.querySelector('#townsearch-input').value;
        var townresults = document.querySelector('#sitelist').options;
        var townresultsArray = [];
        for (var i = 0; i < townresults.length; i++) {
            townresultsArray.push(townresults[i].value);
        }
        if (townresultsArray.indexOf(townsearch) === -1) {
            e.preventDefault();
            // insert error message above search-site div
            var errorDiv = document.createElement('div');
            errorDiv.className = 'error';
            errorDiv.innerHTML = 'Please select a town from the list';
            var searchSiteDiv = document.querySelector('.search-site');
            searchSiteDiv.parentNode.insertBefore(errorDiv, searchSiteDiv);
            // remove error message after 3 seconds
            setTimeout(function () {
                errorDiv.parentNode.removeChild(errorDiv);
            }, 3000);
        }
    });
</script>
{% endblock %}