{% extends "layout.html" %}



{% block title %}{{ weather['station'] }} Weather{% endblock %}



{% block content %}


<div class="container">

    <div class="top-bar"><h2>{{weather['station']}}</h2><button type="button" onclick="convertToFahrenheit()">Switch to
        Fahrenheit</button>
    <button type="button" onclick="convertToCelcius()">Switch to
        Celcius</button>
    <div class="search-site">
        <form action="/weather" method="get">
            <input type="text" list="sitelist" name="townsearch" id="townsearch-input">
            <datalist id="sitelist">
                {% for town in townresults %}
                <option value="{{ town }}">
                    {% endfor %}
            </datalist>
            <button type="submit">Get Town</button>
        </form>
    </div></div>

<script src="/static/search.js"></script>

{% if weather is defined %}
<div class="main-weather">
    <div class="dateinfo">
        <h4 data-date="{{weather['textsummary']}}">{{weather['textsummary']}}</h4>
    </div>
    <div class="moreinfo">
        <div class="condition">
            {% if weather['iconcode'] == "no data" %}
            <img class="img" src="{{url_for('static', filename='icons/' + '29' + '.svg')}}" width="250" height="250">
{% elif weather['iconcode'] %}
    <img class="img" src="{{url_for('static', filename='icons/' + weather['iconcode'] + '.svg')}}" width="250" height="250">
{% else %}
<img class="img" src="{{url_for('static', filename='icons/' + '29' + '.svg')}}" width="250" height="250">
{% endif %}


            <p class="con">{{weather['condition']}}</p>
            <div class="temperature">
                <div class="celcius">
                    {{weather['temperature']}}&#176;C
                </div>
            </div>
        </div>
        <div class="moreweather">
            <p>Dewpoint: {{ weather.dewpoint }}</p>
            <p>Pressure: {{ weather.pressure }}</p>
            <p>Visibility: {{ weather.visibility }}</p>
            <p>Relative Humidity: {{ weather.relative_humidity }}</p>
        </div>
        <div class="wind">
            <canvas id="compass"></canvas>
            <p>{{weather['wind_speed']}}km/h&#160;</p>
            <p>Coming from: {{weather['wind_direction']}}</p>
            <p id="bearing">{{weather['wind_bearing']}}</p>
        </div>
    </div>
    
    
</div>
{% endif %}
<div class="hourly-header">
    <h2>Weather Hourly Forecast</h2>
</div>
<div class="hourly-container">
    {% for date_time_ast, hour in hourly.items() %}
    <div class="forecast-day">
        <h5 class="card-title" data-date="{{hour.forecast_time}}">{{hour.forecast_time}}</h5>
        <div class="hourtempbox">
            <div class="temperature">
                <div class="celcius">{{hour.temperature}}&#176;C</div>
            </div>
            
            <img class="img" src="{{url_for('static', filename='icons/' + hour.iconCode + '.svg')}}" width="100px"
                alt="{{ hour.condition }}" title="{{ hour.condition }}">
        </div>
        <table class="hourly-table">
            <tr>
                <td colspan="2">{{ hour.condition }}</td>
            </tr>
        {% if hour.windChill %}
        <tr>
            <td>Wind Chill:</td>
            <td><div class="celcius">{{ hour.windChill }}&#176;C</div></td>
        </tr>
        {% endif %}
        <tr>
            <td>Wind Speed:</td>
            <td> {{ hour.windSpeed }} {{ hour.windDirFull }}</td>
        </tr>
        <tr>
            <td>Wind Gust:</td>
            <td> {{ hour.windGusting }}</td>
        </tr>
        <tr>
            <td>Wind Gusting:</td>
            <td>{{ hour.windGusting }}</td>
        </tr>
    </table>
    </div>
    {% endfor %}
</div>








{% if almanac is defined %}
<div class="almanac">
    
    <table class="almanac-table">
        <thead>
            <tr>
                <th colspan="3">Almanac</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Extreme Max Temp:</td> 
                <td><div class="celcius">{{ almanac.extremeMaxTemp }}&#176;C</div></td>
                <td>(Year: {{almanac.extremeMax_year }})</td>
            </tr>
            <tr>
                <td>Extreme Min Temp:</td>
                <td><div class="celcius">{{ almanac.extremeMinTemp }}&#176;C</div></td>
                <td> (Year: {{almanac.extremeMin_year }})</td>
            </tr>
            <tr>
                <td>Normal Max Temp:</td>
                <td><div class="celcius">{{ almanac.normalMaxTemp }}&#176;C</div></td>
            </tr>
            <tr>
                <td>Normal Min Temp:</td> 
                <td><div class="celcius">{{ almanac.normalMinTemp }}&#176;C</div></td>
            </tr>
            <tr>
                <td>Normal Mean Temp:</td> 
                <td><div class="celcius">{{ almanac.normalMeanTemp }}&#176;C</div></td>
            </tr>
            <tr>
                <td>Extreme Rainfall:</td> 
                <td>{{ almanac.extremeRainfall }}mm </td>
                <td> (Year: {{ almanac.extremeRainfall_year }})</td>
            </tr>
            <tr>
                <td>Extreme Snowfall:</td> 
                <td>{{ almanac.extremeSnowfall }}cm </td>
                <td>(Year: {{ almanac.extremeSnowfall_year }})</td>
            </tr>
            <tr>
                <td>Extreme Precipitation:</td>
                <td>{{ almanac.extremePrecipitation }}mm </td>
                <td>(Year: {{almanac.extremePrecipitation_year }})</td>
            </tr>
            <tr><td>Extreme Snow On Ground:</td> 
                <td>{{ almanac.extremeSnowOnGround }}cm </td>
                <td>(Year: {{almanac.extremeSnowOnGround_year}})</td>
            </tr>
            <tr>
                <td>Pop:</td> 
                <td>{{ almanac.almanacpop }}%</td>
                </tr>
        </tbody>
    </table>
</div>
{% endif %}

</div>
<script src="/static/app.js"></script>
</div>
{% endblock %}