{% extends "layout.html" %}



{% block title %}Boreas Weather :: {{ weather['station'] }}{% endblock %}



{% block content %}


<div class="container">
    

    <div class="top-bar">
        <div id="logo">
            <h1>Boreas Weather</h1>
            <img src="{{ url_for('static', filename='boreas-lines.svg') }}" alt="Logo" class="logo">
        
        </div>
        <h2 class="weather-station">{{weather['station']}}</h2>
        <div class="city">
        <h2>{{ city[0] }}</h2>
        <h5>{{ city[1] }}</h5>
    </div>
        <div class="fcbut">
            <button id="fahbutton" type="button" onclick="convertToFahrenheit()">&#176;F</button>
            <button id="celbutton" type="button" onclick="convertToCelcius()">&#176;C</button>
        </div>
        <div class="search-site search-grid">
            <form action="/weather" method="get">
                <input type="text" list="sitelist" name="townsearch" id="townsearch-input">
                <datalist id="sitelist">
                  {% for town in townresults %}
                  <option value="{{ town }}">
                  {% endfor %}
                </datalist>
                <button type="submit" id="townselect">Get Town</button>
              </form>
        </div>
    </div>

<script src="/static/search.js"></script>

{% if weather is defined %}
<div class="hourly-header">
    <h4 data-date="{{weather['textsummary']}}">{{weather['textsummary']}}</h4>
</div>
<div class="main-weather">
    
    <div class="moreinfo">
        <div class="condition">
            {% if weather['iconcode'] == "no data" %}
            <img class="img" src="{{url_for('static', filename='icons/' + '29' + '.svg')}}" width="250" height="250">
            {% elif weather['iconcode'] %}
            <img class="img" src="{{url_for('static', filename='icons/' + weather['iconcode'] + '.svg')}}" width="250" height="250">
            {% else %}
            <img class="img" src="{{url_for('static', filename='icons/' + '29' + '.svg')}}" width="250" height="250">
            {% endif %}


            <p class="con">{{weather['condition']}}</p>
            <div class="temperature">
                <div class="celcius">
                    {{weather['temperature']}}&#176;C
                </div>
            </div>
        </div>
        <div class="misc-container">
            <div class="sunrise">
                <table class="sunrise-table">
                    <thead>
                    <tr>
                        <th colspan="2">Sunrise and Sunset</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, value in sunstats.items() %}
                        <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table> 
            </div>
            <div class="moreweather">
                <table class="info-table">
                    <tr>
                    <td>Dewpoint:</td>
                    <td>{{ weather.dewpoint }}&#176;C</td>
                    </tr>
                    <tr>
                    <td>Pressure:</td>
                    <td>{{ weather.pressure }} kPa</td>
                    </tr>
                    <tr>
                    <td>Visibility:</td>
                    <td>{{ weather.visibility }} km</td>
                    </tr>
                    <tr>
                    <td>Relative Humidity:</td>
                    <td>{{ weather.relative_humidity }}%</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="wind">
            <canvas id="compass"></canvas>
            <p>{{weather['wind_speed']}}km/h&#160;</p>
            <p>Coming from: {{weather['wind_direction']}}</p>
            <p id="bearing">{{weather['wind_bearing']}}</p>
        </div>
    </div>
    
    
</div>
{% endif %}

<div class="hourly-header">
    <h2>Forecast</h2>
</div>
<div class="forecast-container">
    {% for forecast in forecast_data %}
      {% if loop.index <= 3 %}
      <div class="forecast">
        {% else %}
        <div class="forecast hidden">
        {% endif %}
          <table>
            <tr>
              <td colspan="2" class="forecast-head"><h4>{{ forecast.period }}</h4></td>
            </tr>
            <td colspan="2">           
              <div class="forecast-temp">
                  {% if forecast.abbreviated_forecast == "no data" %}
                  <img class="img" src="{{url_for('static', filename='icons/' + '29' + '.svg')}}" width="100px" height="100px">
                  {% elif forecast.abbreviated_forecast %}
                  <img class="img" src="{{url_for('static', filename='icons/' + forecast.abbreviated_forecast + '.svg')}}" width="100px" height="100px">
                  {% else %}
                  <img class="img" src="{{url_for('static', filename='icons/' + '29' + '.svg')}}" width="100px" height="100px">
                  {% endif %}
                  <div class="temperature">
                      <div class="celcius">{{ forecast.Temperature }}&#176;C</div>
                  </div>
              </td>
          </div>
          </tr>
            <tr>
              <td colspan="2">{{ forecast.text_summary }}</td>
            </tr>
            <tr>
              <th>Cloud Precipitation</th>
              <td>{{ forecast.cloud_precip }}</td>
            </tr>
            <tr>
              
            <tr>
              <th>Temperature Summary</th>
              <td>{{ forecast['Temperature Summary'] }}</td>
            </tr>
            <tr>
              <th>Temperature</th>
            <td><div class="celcius">{{ forecast.Temperature }}&#176;C</div></td>
          </tr>
          <tr>
            <th>Relative Humidity</th>
            <td>{{ forecast.relative_humidity }}%</td>
          </tr>
          <tr>
            <th>Wind Summary</th>
            <td>{{ forecast['Wind Summary'] }}</td>
          </tr>
          {% for wind in forecast["Wind Data"] %}
            <tr>
              <th>Speed</th>
              <td>{{ wind.Speed }}</td>
            </tr>
            <tr>
              <th>Gusting</th>
              <td>{{ wind.Gusting }}</td>
            </tr>
            <tr>
              <td colspan="2">
                  <canvas class="forecast-compass" width="100px">
              </td>
            </tr>
            <tr>
              <th>Bearing</th>
              <td class="fbearing">{{ wind.Bearing }}</td>
            </tr>
            {% endfor %}
        
        <tr>
          <th>Wind Chill</th>
          <td>{{ forecast.wind_chill }}</td>
        </tr>
      </table>
    </div>
  {% endfor %}
</div>
<button id="forecast-collapse-button" class="collapse-button">Expand</button>

<div class="hourly-header">
    <h2>Hourly Forecast</h2>
</div>

<div class="hcontainer">

<div class="hourly-container" id="hourly-container">
    {% for date_time_ast, hour in hourly.items() %}
        <div class="forecast-day">
            <h5 class="card-title" data-date="{{hour.forecast_time}}">{{hour.forecast_time}}</h5>
            <div class="hourtempbox">
                <div class="temperature">
                    <div class="celcius">{{hour.temperature}}&#176;C</div>
                </div>
                <img class="img" src="{{url_for('static', filename='icons/' + hour.iconCode + '.svg')}}" width="100px" alt="{{ hour.condition }}" title="{{ hour.condition }}">
            </div>
            <table class="hourly-table">
                <tr>
                    <td colspan="2">{{ hour.condition }}</td>
                </tr>
                {% if hour.windChill %}
                <tr>
                    <td>Wind Chill:</td>
                    <td><div class="celcius">{{ hour.windChill }}&#176;C</div></td>
                </tr>
                {% endif %}
                <tr>
                    <td>Wind Speed (km/h):</td>
                    <td> {{ hour.windSpeed }} {{ hour.windDirFull }}</td>
                </tr>
                <tr>
                    <td>Wind Gust (km/h):</td>
                    <td> {{ hour.windGusting }}</td>
                </tr>
                <tr>
                    <td>Wind Gusting (km/h):</td>
                    <td>{{ hour.windGusting }}</td>
                </tr>
            </table>
        </div>
    {% endfor %}
</div>
</div>
<button id="collapse-button" class="collapse-button">Expand</button>






{% if almanac is defined %}

<div class="hourly-header">
    <h2>Almanac</h2>
</div>

<div class="almanac">
    
    <table class="almanac-table">
        <tbody>
            <tr>
                <td>Extreme Max Temp:</td> 
                <td><div class="celcius">{{ almanac.extremeMaxTemp }}&#176;C</div></td>
                <td>({{almanac.extremeMax_year }})</td>
            </tr>
            <tr>
                <td>Extreme Min Temp:</td>
                <td><div class="celcius">{{ almanac.extremeMinTemp }}&#176;C</div></td>
                <td> ({{almanac.extremeMin_year }})</td>
            </tr>
            <tr>
                <td>Normal Max Temp:</td>
                <td><div class="celcius">{{ almanac.normalMaxTemp }}&#176;C</div></td>
            </tr>
            <tr>
                <td>Normal Min Temp:</td> 
                <td><div class="celcius">{{ almanac.normalMinTemp }}&#176;C</div></td>
            </tr>
            <tr>
                <td>Normal Mean Temp:</td> 
                <td><div class="celcius">{{ almanac.normalMeanTemp }}&#176;C</div></td>
            </tr>
            <tr>
                <td>Extreme Rainfall:</td> 
                <td>{{ almanac.extremeRainfall }}mm </td>
                <td> ({{ almanac.extremeRainfall_year }})</td>
            </tr>
            <tr>
                <td>Extreme Snowfall:</td> 
                <td>{{ almanac.extremeSnowfall }}cm </td>
                <td>({{ almanac.extremeSnowfall_year }})</td>
            </tr>
            <tr>
                <td>Extreme Precipitation:</td>
                <td>{{ almanac.extremePrecipitation }}mm </td>
                <td>({{almanac.extremePrecipitation_year }})</td>
            </tr>
            <tr><td>Extreme Snow On Ground:</td> 
                <td>{{ almanac.extremeSnowOnGround }}cm </td>
                <td>({{almanac.extremeSnowOnGround_year}})</td>
            </tr>
            <tr>
                <td>Pop:</td> 
                <td>{{ almanac.almanacpop }}%</td>
                </tr>
        </tbody>
    </table>
</div>
{% endif %}

</div>
<script src="/static/app.js"></script>
</div>
{% endblock %}