{% extends "layout.html" %}



{% block title %}{{ weather['station'] }} Weather{% endblock %}



{% block content %}


<div class="container">
    <h2>{{weather['station']}}</h2><button type="button" onclick="convertToFahrenheit()">Switch to
        Fahrenheit</button>
    <button type="button" onclick="convertToCelcius()">Switch to
        Celcius</button>
    <div class="search-site">
        <form action="/weather" method="get">
            <input type="text" list="sitelist" name="townsearch" id="townsearch-input">
            <datalist id="sitelist">
                {% for town in townresults %}
                <option value="{{ town }}">
                    {% endfor %}
            </datalist>
            <button type="submit">Get Town</button>
        </form>
    </div>
    <div class="header">
        <div class="dateinfo">
            <h4 data-date="{{weather['textsummary']}}">{{weather['textsummary']}}</h4>
        </div>
        <div class="moreinfo">
            <div class="weatherinfo">
                {% if weather['iconcode'] is not none %}
                <img class="img" src="{{url_for('static', filename='icons/' + weather['iconcode'] + '.gif')}}"
                    width="60px">
                {% endif %}
                <p class="con">{{weather['condition']}}</p>
                <div class="temperature">
                    <div class="celcius">{{weather['temperature']}}&#176;C</div>
                </div>
            </div>
            <div class="moreweather">
                <p>Dewpoint: {{ weather.dewpoint }}</p>
                <p>Pressure: {{ weather.pressure }}</p>
                <p>Visibility: {{ weather.visibility }}</p>
                <p>Relative Humidity: {{ weather.relative_humidity }}</p>
            </div>
            <div class="card wind">
                <h5 class="card-header">Wind</h5>
                <canvas id="compass"></canvas>
                <p>{{weather['wind_speed']}}km/h&#160;</p>
                <p>Coming from: {{weather['wind_direction']}}</p>
                <p id="bearing">{{weather['wind_bearing']}}</p>
            </div>
        </div>
    </div>

    <div class="hourly-header">
        <h2>Weather Hourly Forecast</h2>
    </div>
    <div class="hourly-container">
        {% for date_time_ast, hour in hourly.items() %}
        <div class="forecast-day card">
            <h5 class="card-title" data-date="{{hour.forecast_time}}">{{hour.forecast_time}}</h5>
            <div class="hourtempbox">
                <div class="temperature">
                    <div class="celcius">{{hour.temperature}}&#176;C</div>
                </div>
                <img class="img" src="{{url_for('static', filename='icons/' + hour.iconCode + '.gif')}}" width="60px"
                    alt="{{ hour.condition }}" title="{{ hour.condition }}">
            </div>
            <p class="hourly-condition">{{ hour.condition }}</p>
            {% if hour.windChill %}
            <p>Wind Chill:
            <div class="celcius">{{ hour.windChill }}&#176;C</div>
            </p>
            {% endif %}
            <p>Wind Speed: {{ hour.windSpeed }} {{ hour.windDirFull }}</p>
            <p>Wind Gusting: {{ hour.windGusting }}</p>
        </div>
        {% endfor %}
    </div>

    {% if almanac is defined %}
    <div class="almanac card">
        <h4 class="card-header">Almanac</h4>
        <ul>
            <li>Extreme Max Temp: <div class="celcius">{{ almanac.extremeMaxTemp }}&#176;C</div> (Year: {{
                almanac.extremeMax_year }})</li>
            <li>Extreme Min Temp: <div class="celcius">{{ almanac.extremeMinTemp }}&#176;C</div> (Year: {{
                almanac.extremeMin_year }})</li>
            <li>Normal Max Temp: <div class="celcius">{{ almanac.normalMaxTemp }}&#176;C</div>
            </li>
            <li>Normal Min Temp: <div class="celcius">{{ almanac.normalMinTemp }}&#176;C</div>
            </li>
            <li>Normal Mean Temp: <div class="celcius">{{ almanac.normalMeanTemp }}&#176;C</div>
            </li>
            <li>Extreme Rainfall: {{ almanac.extremeRainfall }}mm (Year: {{ almanac.extremeRainfall_year }})
            </li>
            <li>Extreme Snowfall: {{ almanac.extremeSnowfall }}cm (Year: {{ almanac.extremeSnowfall_year }})
            </li>
            <li>Extreme Precipitation: {{ almanac.extremePrecipitation }}mm (Year: {{
                almanac.extremePrecipitation_year }})</li>
            <li>Extreme Snow On Ground: {{ almanac.extremeSnowOnGround }}cm (Year: {{
                almanac.extremeSnowOnGround_year
                }})</li>
            <li>Pop: {{ almanac.almanacpop }}%</li>
        </ul>
    </div>
    {% endif %}

</div>
<script src="static/app.js"></script>
{% endblock %}